<html>
    <head></head>
    <body bgcolor="#5AA8CE" text="#000000" onload="setfocus()">
        <table cellpadding="0" cellspacing="2" border="0" width="100%" valign="top">
            <tr valign="top"><td valign="top" colspan="3">
                <form method="post" action="http://{{.servername}}:{{.listen-port}}/banner&user={{.nickname}}&id={{.session-id}}&" name="banner">
                    <input type="hidden" name="user" value="{{.nickname}}">
                    <input type="hidden" name="id" value="{{.session-id}}">
                    <b>{{.nickname}}</b>
                    <td></td>
                    <input type="checkbox" name="priv" value="1" {{.priv}}>
                    <font face="arial" size="2">privately</font><td></td>
                    <select name="action">
                        {{.action-list}}
                        <br><br>
                    </select>
                    <td></td>
                    <select name="whoto">
                        {{.users-list}}
                        <br><br>
                    </select>
                    </td>
                    </tr><br><tr valign="top"><td valign="top">
                    <a href="http://{{.servername}}:{{.listen-port}}/exit&user={{.nickname}}&id={{.session-id}}&exit=1&" target="_top">exit</a>
                    </td><td>
                    <select name="image" size=1>
                        <option value="">image:</option>
                        {{.image-list}}
                    </select>
                    </td><td colspan="4">
                        <input name="says" type="text" size=110>
                        <input type="submit" size=30 value="send"><br><br><br><br>
                    </td>
                </form>
            </tr>
        </table>
    </body>
    <script>function setfocus() { document.forms["banner"]["says"].focus(); }</script>
</html>
