<html>
    <head></head>
    <body bgcolor="#5AA8CE" text="#000000">
        <table cellpadding="0" cellpadding="2" border="0" width="100%" valign="top">
            <tr valign="top"><td valign="top">
                <b>{{.room-name}}</b><br><br>
            </td>
            <td>
                <center><small>QoTD: {{.greeting-message}}</small></center>
            </td>
            <td>
                <center>
                    <form name="chatconfig">
                        <input type="checkbox" name="autoscroll" value="1" unchecked>
                        <i>autoscroll</i>
                    </form>
                </center>
            </td></tr>
        </table>
    </body>
</html>